.navbar {
  background-color: whitesmoke;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.navbar-item {
  display:list-item;
  margin-right: 10px;
}

.navbar-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.762);
  font-weight: bold;
  font-size: 17;
  display: flex;
  justify-content: center;
}

.navbar-link:hover {
  color: #007bff;
}