.signup-form {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box; /* Include padding and border in the width */
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"], /* Include password input fields */
.signup-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


